<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">

  </head>
  <body>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Virginia Tidewater</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home')}}"> Home <span class=sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('james')}}">James River</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('piankatank')}}">Piankatank River</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('york')}}">York River</a>
          </li>
      </div>
    </nav>
    <html lang="en">
        <div class="container">
            <div class="row" id="header">
                <h1> James River</h1>
            </div>
        </div>        
        <hr class="featurette-divider">
        <div class="container">
            <div class="row" id="head">
                <h2> Current Weather </h2>
            </div>
        </div> 
        <div class="containerCurrent">
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <image src="{{url_for('static', filename='tide1_icon.svg')}}" alt="Wind Icon" height="120" width="140"></image>
                <br>
                <br>
                <h3>Tide</h3>
                <p><strong>Next Slack Tide:</strong><i> {{nextTide}}</i></p>
                
                
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <image src="{{url_for('static', filename='weather_icon.svg')}}" alt="Wind Icon" height="120" width="140"></image>
                <br>
                <br>
                <h3>Weather</h3>
                <p><strong> Current Weather:</strong><i> {{weather}}</i></p>
                <p><strong> Current Temperature:</strong><i> {{temperature}} F </i></p>
                
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <image src="{{url_for('static', filename='wind.svg')}}" alt="Wind Icon" height="120" width="140">
                <br> 
                <br>
                <h3>Wind</h3>
                <p><strong>Current Wind:</strong> <i> {{windSp}} mph </i></p>
                <p><strong> Wind Direction:</strong><i> {{windDir}} </i></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
       <!-- Daily Forecast-->
       <hr class="featurette-divider">
       <div class="container">
           <div class="row" id="head">
               <h2> Today's Hourly Weather </h2>
           </div>
       </div> 
       <div class="container">
           <div class="row">
             <div class="col-12">
               <div class="card" id="graph">
                   <div class="table-responsive">
                       <table class="table">
                               <thead class="thead-light">
                               <tr>
                                   <th scope="col">Hour</th>
                                   <th scope="col">{{time2}}</th>
                                   <th scope="col">{{time4}}</th>
                                   <th scope="col">{{time6}}</th>
                                   <th scope="col">{{time8}}</th>
                               
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                                   <th scope="row">Weather</th>
                                   <td>{{hrlyA1}}</td>
                                   <td>{{hrlyB1}}</td>
                                   <td>{{hrlyC1}}</td>
                                   <td>{{hrlyD1}}</td>
       
                               </tr>
                               <tr>
                                   <th scope="row">Temperature</th>
                                   <td>{{hrlyA2}} F</td>
                                   <td>{{hrlyB2}} F</td>
                                   <td>{{hrlyC2}} F</td>
                                   <td>{{hrlyD2}} F</td>
                               </tr>
                               <tr>
                                   <th scope="row">Wind</th>
                                   <td>{{hrlyA3}} mph</td>
                                   <td>{{hrlyB3}} mph</td>
                                   <td>{{hrlyC3}} mph </td>
                                   <td>{{hrlyD3}} mph</td>
                               </tr>
                               <tr>
                                   <th scope="row">Wind Direction</th>
                                   <td>{{hrlyA4}}</td>
                                   <td>{{hrlyB4}}</td>
                                   <td>{{hrlyC4}}</td>
                                   <td>{{hrlyD4}}</td>
                               </tr>
                               </tbody>
                       </table>
                   </div>   
               </div>
             </div>
           <!-- START THE FEATURETTES -->
       <br>
       <br>
       <hr class="featurette-divider">
            
        
        <hr class="featurette-divider">
        <div class="container">
            <div class="row" id="head">
                <h2> 7 Day Weather & Tide Forecast </h2>
            </div>
        </div> 
        <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="card" id="graph">
                    <div class="table-responsive">
                        <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Weather</th>
                                    <th scope="col">Wind</th>
                                
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{day0}}</th>
                                    <td>{{dailyA1}}</td>
                                    <td>{{dailyA2}} mph</td>
        
                                </tr>
                                <tr>
                                    <th scope="row">{{day1}}</th>
                                    <td>{{dailyB1}}</td>
                                    <td>{{dailyB2}} mph</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">{{day2}}</th>
                                    <td>{{dailyC1}}</td>
                                    <td>{{dailyC2}} mph</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">{{day3}}</th>
                                    <td>{{dailyD1}}</td>
                                    <td>{{dailyD2}} mph</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">{{day4}}</th>
                                    <td>{{dailyE1}}</td>
                                    <td>{{dailyE2}} mph</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">{{day5}}</th>
                                    <td>{{dailyG1}}</td>
                                    <td>{{dailyG2}} mph</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">{{day6}}</th>
                                    <td>{{dailyF1}}</td>
                                    <td>{{dailyF2}} mph</td>
                                    
                                </tr>
                                </tbody>
                        </table>
                    </div>   
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Low</th>
                                    <th scope="col">High</th>
                                    <th scope="col"> Low</th>
                                    <th scope="col"> High </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{day0}}</th>
                                    <td>{{d1l1}}</td>
                                    <td>{{d1h1}}</td>
                                    <td>{{d1l2}}</td>
                                    <td>{{d1h2}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{day1}}</th>
                                    <td>{{d2l1}}</td>
                                    <td>{{d2h1}}</td>
                                    <td>{{d2l2}}</td>
                                    <td>{{d2h2}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{day2}}</th>
                                    <td>{{d3l1}}</td>
                                    <td>{{d3h1}}</td>
                                    <td>{{d3l2}}</td>
                                    <td>{{d3h2}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{day3}}</th>
                                    <td>{{d4l1}}</td>
                                    <td>{{d4h1}}</td>
                                    <td>{{d4l2}}</td>
                                    <td>{{d4h2}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{day4}}</th>
                                    <td>{{d5l1}}</td>
                                    <td>{{d5h1}}</td>
                                    <td>{{d5l2}}</td>
                                    <td>{{d5h2}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{day5}}</th>
                                    <td>{{d6l1}}</td>
                                    <td>{{d6h1}}</td>
                                    <td>{{d6l2}}</td>
                                    <td>{{d6h2}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{day6}}</th>
                                    <td>{{d7l1}}</td>
                                    <td>{{d7h1}}</td>
                                    <td>{{d7l2}}</td>
                                    <td>{{d7h2}}</td>
                                </tr>
                                </tbody>
                        </table>
                    </div>   
                </div>
            </div>
            
        
          <br>
              <hr class="featurette-divider">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

<br>
<br>
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>

    <main role="main" class="container">
    <!-- Override JavaScript -->
    <script src="main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>